.ce{
           
            height: 100%;
            width: 96px;
            z-index: 1000;
            background-color: #fff;
            padding: 0;
            background: #ffffff;
            position: fixed;
            margin: -13px 0 0 0;
            box-shadow: 1px 0 20px 2px #EDEDED;
            
            box-sizing: border-box;
           
        }
        ul{
            height: 731.2px;
        }
        ul>li{
            margin: -16px 0 0 -40px;
            list-style-type:none;
        }
        div{
            height: 87px;
            width: 96px;
            margin-top: 15px;
            
        }
        .q1 svg{
            width: 50px;
            height: 30px;
            margin-top: 15%;
            margin-left: 20%;
            max-width: 50%;
            max-height: 50%;
        }
        span{
            display: inline-block;
            margin-top: -8px;
            font-size: 12px;
            margin-left: 18%;
            color: #808890;
            font-weight: bold;
        }
        
        div{
            border: 1px solid #eee;
            width: 100%;
            height: 100%;
        }
        .q2{
            margin-top: 1px;
            height: 85px;
            border-bottom: none;
        }
        .d1{
            height: 126px;
            border:none;
        }
        li:hover span{
            color: black;
            font-weight: bold;
        }
        li:active span{
            color: #0099da;
        }
        li:hover div svg path{
            fill: #0099da;
            
        }
        li:hover .d3 svg path{
            fill:#0099da;
        }
        .q1{
            color: #808890;
        }
        
        .d3{
            margin-top: 16px;
            color: #808890;
        }
        
        .d4{
            margin-top: 16px;
            text-decoration: none;
            height: 100%;
        }
        
       
        
        #d5{
            height: 100%;
            margin-top: 16px;
        }
        svg{
            width: 50px;
            height: 30px;
            margin-top: 20%;
            margin-left: 16px;
        }
        #d6{
            margin-top: 16px;
        }
        
        .waiguan{
            background: #F3F5F6;
            
        }
 
        .yijia{
            position: absolute;
            margin-top: 103%;
            width: 93%;
            height: 400px;
            margin-left:96px;
			z-index:5000;
			float:left;
        }
        .yijia img{
            width: 100%; height: auto;max-width: 100%; display: block;
        }
        .yijia btn{
            position: absolute;
            margin-left: 99px;
            margin-top: -15%;
            width: 170px;
            text-align: center;
            font-size: 14px;
        }
        .shijia{
            background: #eee;
            width: 93%;
            height: 350px;
            position: absolute;
            margin-top: 130%;
            margin-left: 97px;
			float:left;
        }
        .shijia svg{
			/*width: 190px;
            height: 190px;*/
			width:35%;
			height:35%;
            margin: 40px 0 0 190px;
        }
        .shijia span{
            color: black;margin-left: -83%;position: absolute;margin-top: 15%;text-align: center;
        }
        .shijia span1{
            color: black;margin-left: -52%;position: absolute;margin-top: 15%;text-align: center
        }
        .shijia span2{
            color: black;margin-left:-19%;position: absolute;margin-top: 15%;text-align: center
        }
        .shijia span a,.shijia span1 a,.shijia span2 a{
            text-decoration: none;
        }
        .techcare{
            margin-top: 155%;
            position: absolute;
            width: 93%;
            height: 400px;
            margin-left: 96px;
			float:left;
        }
        .techcare btn{
            position: absolute;
            margin-left: 99px;
            margin-top: -15%;
            width: 170px;
            text-align: center;
            font-size: 14px;
        }
        .techcare img{
            width: 100%; height: auto;max-width: 100%; display: block;
        }
        footer div.fanhui{
            width: 100%;
            height: 40px;
            margin-top:1860px;
            float:left;
            background-color: #DEE1E3;
        }
        .fanhui a{
            position:absolute;
            margin-top: 10px;
            text-decoration: none;
            color: black;
			text-align:right;
			width:100px;
			margin-left:83%;
        }
        .fanhui svg{
            position: absolute;
            margin-top: 11px;
            margin-left: 94%;
            text-decoration: none;
            color: black;
            width: 15px;
            height: 15px;
        }
        #footer{
            height: 460px;
            position: absolute;
            margin-top: 190%;
            border: none;
            width: 93%;
            margin-left: 96px;
			float:left;
        }
        #footer li{
            margin-top: 30px;
            border-bottom: 1px solid #eee;
            width: 200px;
            font-weight: bold;
            margin-left: 100px;
            padding-bottom: 3px;
            list-style-type: none;
            color: black;
            text-decoration: none;
        }
        #footer li:hover{
            color: green;
            text-decoration: none;
        }
        #footer a:hover{
            text-decoration: none;
        }
        #footer ul{
            float: left;
            height: 250px;
            text-decoration: none;
        }
        #footer span{
            position: relative;
            margin-left: -10px;
        }
        #footer svg{
            position: relative;
            float: left;
            margin-top: -8px;
            margin-left: -5px;
        }
        #foot{
            border: none;
            
            margin-top: 30%;
            height: 30px;
            margin-left: 96px;
            width: 93%;
            text-align: center;
			float:left;
        }
        #foot a{
            color: #000;
            margin-right: 15px;
            margin-left: 10px;
        }
        #foot img{
            position: relative;
            margin-right:-250px;
        }
        #foot:hover a{
            text-decoration: none;
        }

.waiguan{
    overflow: scroll;
}
.jinxiao{
    position: absolute;
    margin-left: 90px;
    width: 93%;
    height: 90px;
    text-align: right;
    border: none;
}
.ccc{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #808890;
    margin-top: 3px;
    margin-left: 80%;
    border: none;
}
.ccc svg{
    position: relative;
    margin-left: -5px;
    padding-bottom: 6px;
}
.ccc:hover{
    background: #333;
}
